<h1>FORMULÁRIO PARA CADASTRAR PAGAMENTO - aula 13</h1>
<form action="/add-pagamento" method="POST">
    <label for="nom">Nome: </label>
    <input type="text" name="nome" id="nom"><br><br>

    <label for="val">Valor: </label>
    <input type="text" name="valor" id="val"><br><br>

    <button type="submit">Cadastrar</button>
</form>