<h1>LISTAR PAGAMENTO</h1>

{{!-- pagtos vem do arquivo app.js --}}
{{#each pagtos}}
    ID: {{id}}<br>
    Nome: {{nome}}<br>
    Valor: {{valor}}<br>
    Cadastrado: {{#formatDate createdAt}}{{/formatDate}} <br>
    <hr>
{{/each}}